<div class="container">
    {{#each item_in_cart}}
        <div class="row product-row">
            <div class="col-sm-6 match-cart-height">
                <img src="http://{{mainImage}}" class="cart-thumb">{{title}}
            </div>
            <div class="col-sm-3 match-cart-height">
                <span class="test">{{price}}</span>
            </div>
            <div class="col-sm-3 match-cart-height">
                <div class="form-group match-height align-right">
                    <label for="qtySelectItem{{_id}}" hidden>Select Quantity</label>

                    <select class="form-control" id="qtySelectItem{{_id}}">
                        <option {{cart_qty 1 qty}}>1</option>
                        <option {{cart_qty 2 qty}}>2</option>
                        <option {{cart_qty 3 qty}}>3</option>
                        <option {{cart_qty 4 qty}}>4</option>
                        <option {{cart_qty 5 qty}}>5</option>
                        <option {{cart_qty 6 qty}}>6</option>
                        <option {{cart_qty 7 qty}}>7</option>
                        <option {{cart_qty 8 qty}}>8</option>
                        <option {{cart_qty 9 qty}}>9</option>
                        <option {{cart_qty 10 qty}}> 10</option>
                    </select>
                    <a href="/cart/remove/{{_id}}" class="delete-button">delete</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>