<div class="container">
    {{#each item_in_cart}}
        <div class="row product-row">
            <div class="col-sm-6 match-cart-height">
                <img src="http://{{mainImage}}" class="cart-thumb">{{title}}
            </div>
            <div class="col-sm-3 match-cart-height">
                <span class="test">{{price}}</span>
            </div>
            <div class="col-sm-3 match-cart-height">
                <div class="form-group match-height align-right">
                    <label for="qtySelectItem{{_id}}" hidden>Select Quantity</label>
    {{/each}}
                    <select class="form-control" id="qtySelectItem{{_id}}">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </div>
            </div>
        </div>
</div>