<div class="container product-detail">
	<a href="/"><p>Back to Catalog</p></a>
	{{#with product_data}}
		<div class="row">
			<div class="col-sm-12 text-center">
				<h1>{{title}}</h1>
				<p class="lead">${{decimalPrice}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="fotorama" data-width="50%" data-ratio="600/600">
	{{/with}}
					{{#each images}}
						<img src="{{image}}">
					{{/each}}
				</div>
	{{#with product_data}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p>{{description}}</p>
			</div>
		</div>
		<div class="row text-center">
			<!--<form id="add-to-cart" class="form-inline" method="POST" action="">-->
			<form id="add-to-cart" class="form-inline product-{{productId}}">
				<div class="form-group">
					<label for="qtySelect">Qty:</label>
					<select class="form-control" id="qtySelect" name="qtySelect">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
					</select>
					<button class="btn btn-primary">Add to Cart</button>
				</div>
			</form>
		</div>
	{{/with}}
</div>