{{> head_cart }}

<body id="checkout" class="step01">
{{> top_menu}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Checkout - Billing Address</h1>
        </div>
    </div>
    <form class="form-horizontal" id="checkout01-form">
	    <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">Name</label>
		    <div class="col-sm-10">
			    <input type="text" class="form-control col-sm-10 required" id="name" placeholder="John Smith" required value="{{name}}">
		    </div>
	    </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email*</label>
            <div class="col-sm-10">
                <input type="email" class="form-control col-sm-10 required" id="email" placeholder="Email" required value="{{email}}">
            </div>
        </div>
        <div class="form-group">
            <label for="address1" class="col-sm-2 control-label">Address 1*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control col-sm-10 required" id="address1" placeholder="1 Main St." required value="{{address1}}">
            </div>
        </div>
        <div class="form-group">
            <label for="address2" class="col-sm-2 control-label">Address 2</label>
            <div class="col-sm-10">
                <input type="text" class="form-control col-sm-10" id="address2" placeholder="Unit A" value="{{address2}}">
            </div>
        </div>

        <div class="form-group">
            <label for="cityStateZip" class="col-sm-2 control-label">City, State, Zip*</label>
            <div class="col-sm-10">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="city" class="control-label sr-only">City*</label>
                        <input type="text" class="form-control col-sm-2 required" id="city" placeholder="City" required value="{{city}}">
                    </div>
                    <div class="form-group">
                        <label for="state" class="control-label sr-only">State*</label>
                        <select class="form-control" id="state">
	                        {{#each stateList}}
		                        <option value="{{abbrev}}" {{selectState abbrev}}>{{stateName}}</option>
	                        {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="zip" class="control-label sr-only">Zip code*</label>
                        <input type="text" class="form-control required" id="zip" placeholder="Zip" maxlength="10" required value="{{zip}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Phone*</label>
            <div class="col-sm-3">
                <input type="text" class="form-control required" id="phone" maxlength="15" value="{{phone}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <label>
                    <input type="checkbox" value="" id="bill-same-as-ship">
                    My billing address is the same as my shipping address
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" disabled="disabled">Next</button>
            </div>
        </div>
    </form>
    <div class="col-sm-offset-2 col-sm-10">
        <p class="small">*Required field</p>
    </div>
</div>

{{> information_not_complete }}

{{> spinner }}
{{> scripts }}
</body>