{{> head_cart }}

<body id="checkout" class="card-entry">
{{> top_menu }}
<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h1>Checkout - Verify information</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-5">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">Billing Information <a href="/cart/billing">edit</a></div>
						<div class="panel-body">
							{{#with billingAddress}}
								Name: {{name}}<br>
								Address: {{address}}<br>
								City, State, Zip: {{city}}, {{state}} {{zip}}<br>
								Phone: {{phone}}<br>
								Email: {{email}}
							{{/with}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					Credit / Debit Card Details
				</div>
				<div class="panel-body">
					<div class="col-sm-12">
						<!--<form action="/cart/stripeSubmit" method="post" class="form-horizontal" id="payment-form">-->
						<form class="form-horizontal" id="payment-form">
							<div id="card-element" class="form-control">

							</div>
							<div id="card-errors" role="alert">

							</div>
							<button>Submit Payment</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<a href="/cart/confirmation/" class="btn btn-default">Back</a>
			<!--<button class="btn btn-primary" disabled="disabled">Next</button>-->
			<!--<button class="btn btn-primary" id="submit-payment-data">Next</button>-->
		</div>
	</div>
</div>

{{> information_not_complete }}

{{> spinner }}
{{> scripts }}
</body>