{{> head_cart }}

<body id="checkout" class="step03">
{{> top_menu}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Checkout - Verify Information</h1>
        </div>
    </div>
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">Billing Information <a href="/cart/billing">edit</a></div>
						<div class="panel-body">
							{{#with billingAddress}}
								Name: {{name}}<br>
								Address: {{address}}<br>
								City, State, Zip: {{city}}, {{state}} {{zip}}<br>
								Phone: {{phone}}<br>
								Email: {{email}}
							{{/with}}
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">Shipping Information <a href="/cart/shipping">edit</a></div>
						<div class="panel-body">
							{{#with shippingAddress}}
								Name: {{name}}<br>
								Address: {{address}}<br>
								City, State, Zip: {{city}}, {{state}} {{zip}}<br>
								Phone: {{phone}}<br>
							{{/with}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Cart <a href="/cart">edit</a>
				</div>
				<div class="panel-body">
					<!--<div class="col-sm-6 text-left">Item 1 (2)</div>
					<div class="col-sm-6 text-right">100.00</div>
					<hr>
					<div class="col-sm-6 text-left">Total:</div>
					<div class="col-sm-6 text-right">100.00</div>-->
					{{#each cartItem}}
						<div class="row">
							<div class="col-sm-6 text-left">{{title}} ({{qty}})</div>
							<div class="col-sm-6 text-right">{{lineTotal}}</div>
						</div>
					{{/each}}
					<hr>
					<div class="row">
						<div class="col-sm-6 text-left">Shipping: {{shipping}}</div>
						<div class="col-sm-6 text-right">Total: {{total}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<a href="/cart/billing" class="btn btn-default">Back</a>
			<a href="/cart/payment"><button class="btn btn-primary">Next</button></a>
		</div>
	</div>
</div>
{{> scripts }}
</body>