{{> head_cart }}

<body id="checkout" class="step02">
{{> top_menu}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Checkout - Verify Information</h1>
        </div>
    </div>
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">Billing Information <a href="#">edit</a></div>
						<div class="panel-body">
							{{#with billingAddress}}
								Name: {{name}}<br>
								Address: {{address}}<br>
								City, State, Zip: {{city}}, {{state}} {{zip}}<br>
								Phone: {{phone}}<br>
								Email: {{email}}
							{{/with}}
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">Shipping Information <a href="#">edit</a></div>
						<div class="panel-body">
							{{#with shippingAddress}}
								Name: {{name}}<br>
								Address: {{address}}<br>
								City, State, Zip: {{city}}, {{state}} {{zip}}<br>
								Phone: {{phone}}<br>
							{{/with}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Cart <a href="#">edit</a>
				</div>
				<div class="panel-body">
					<div class="left-align-summary">Item 1 (2)</div>
					<div class="right-align-summary">100.00</div>
					<hr>
					<div class="left-align-summary">Total:</div><span class="right-align-summary">$100.00</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-default">Back</button>
			<button class="btn btn-primary">Next</button>
		</div>
	</div>
</div>
{{> scripts }}
</body>