{{> header }}

<section id="productDetail">
<div class="container product-detail">
    <a href="/"><p>Back to Catalog</p></a>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>{{product.title}}</h1>
            <p class="lead">${{product.decimalPrice}}</p>
        </div>
    </div>
<div class="row">
<div class="col-sm-12">
    <div class="slideshow-container">
        {{#addShowClassToFirstProductImage product.imageURLArray}}
            <div class="slide {{displayFirstImage}}">
                <img class="slideshow-image" src="{{image}}" />
            </div>
        {{/addShowClassToFirstProductImage}}

        <span class="prev" onclick="slideShowModule.prevSlide()">&#60;</span>
        <span class="next" onclick="slideShowModule.nextSlide()">&#62;</span>
    </div>
    {{#with product}}
    </div>
    </div>
        <div class="row">
            <div class="col-sm-12">
                <p>{{description}}</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12">
                <form class="form-inline" action="/products/{{id}}" method="POST">
                    <div class="form-group">
                        <label for="qtySelect">Qty:</label>
                        <select class="form-control" id="qtySelect" name="qtySelect">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </form>
            </div>
        </div>
    {{/with}}
</div>

    {{> scripts }}
</section>

{{> footer }}